<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Index</title>
    <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js'%}"></script>
    <link href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<body bgcolor="#f0ffff">
{# 导航栏#}
<!-- 定义导航栏 -->
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid" style="font-family: 'Microsoft YaHei UI'">
    <h3 class="text-muted" ><font size="6">TEST HERO</font> </h3>
    <ul class="nav nav-stacked navbar-right nav-pills">
        <li><a></a></li>
        <li><a href="http://127.0.0.1:8000/"> <font size="4">主页</font></a></li>
        <li><a href="http://127.0.0.1:8000/tools"><font size="4">工具</font></a></li>
        <li><a href="http://127.0.0.1:8000/framework"><font size="4">框架</font></a></li>
        <li><a href="http://127.0.0.1:8000/blog"><font size="4">博客</font></a></li>
        <li><a href="http://127.0.0.1:8000/user"><font size="4">个人</font></a></li>
        <li><a id="register" href="http://127.0.0.1:8000/register"><font size="4">注册</font></a></li>
        <li><a id="register" href="http://127.0.0.1:8000/login"><font size="4">登录</font></a></li>
    </ul>
</div>
</nav>

{# 正文内容#}
<div class="active">

</div>

{# 存放底层信息 #}

</body>
</html>

