<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Index</title>
    <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js'%}"></script>
    <link href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<body bgcolor="#f0ffff">
{# 导航栏#}
{% include 'base.html' %}

{# 正文内容#}
<div class="active">

</div>
{# 存放底层信息 #}
<div class="align-bottom">

</div>
</body>
</html>

