<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Index</title>
    <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js'%}"></script>
{#    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>#}
{#	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <link href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


<body bgcolor="#f0ffff">
{# 导航栏#}
<!-- 定义导航栏 -->
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="http://127.0.0.1:8000/">自动生成测试用例</a>
    </div>
    <ul class="nav nav-stacked navbar-right">
        <li><a></a></li>
        <li><a href="http://127.0.0.1:8000/">主页</a></li>
        <li><a href="http://127.0.0.1:8000/tools">工具</a></li>
        <li><a href="http://127.0.0.1:8000/framework">框架</a></li>
        <li><a href="http://127.0.0.1:8000/blog">博客</a></li>
        <li><a href="http://127.0.0.1:8000/userinfo">个人</a></li>
        <li><a id="register" href="http://127.0.0.1:8000/register">注册</a></li>
        <li><a id="register" href="http://127.0.0.1:8000/login">登录</a></li>
    </ul>
</div>
</nav>

{# 存放底层信息 #}
<div style="text-align: center;">
       <div class="text-info">
        <a>用户需要根据网站首页要求选择相应的选项，如果有本网站使用的意见，请在右下角输入您的建议与意见，谢谢！</a>
    </div>
<br>

</div>
</body>
</html>

