
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-4.2.1-dist/css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap-4.2.1-dist/js/bootstrap.min.js'%}"></script>
</head>
<body>
{# 导航栏 #}
{% include 'base.html' %}

{# 登录界面 #}
<div class="container">
    <h2 class=" text-black-50 text-center">登录</h2>
    <div class="row justify-content-center">
        <form method="post" class="form-group col-md-3">
            {% csrf_token %}
            <div class="form-group"><input class="form-control" name="user_email" type="text" placeholder="输入已注册邮箱"></div>
            <div class="form-group"><input class="form-control" name="user_password" type="password" placeholder="输入已注册邮箱"></div>
            <div class="form-group"><input class="btn btn-primary btn-block" id="login" type="submit" name="login" value="登录"></div>
        </form>
    </div>
    <div class="row justify-content-center"><a class="text-center" href="http://127.0.0.1:8000/register">还没有账号，去注册</a></div>
    <br>
</form>
</div>
</body>
</html>