<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tools</title>
</head>
{% include 'base.html' %}
<body>
    <div class="text-center">
        <blockquote>
            <a href="http://127.0.0.1:8000/tools/actc">自动化生成测试用例工具</a><br>
           <small>ACTC(Auto Create TestCase)自动生成测试用例工具，选择参数类型，添加限制条件即可自动化生成测试用例。</small>
        </blockquote>
        <blockquote>
            <a href="http://127.0.0.1:8000/tools/interfacetest">接口测试工具</a><br>
            <small>InterfaceTest 接口测试工具即填入接口地址，填入参数，即可进行接口测试，接口测试结果将在界面直接反馈给用户</small>
        </blockquote>
    </div>
</body>
</html>


