<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div style="text-align: center">
    <h2 class="text-center">请输入登录信息</h2>

<form class="form-horizontal" method="post">
    {% csrf_token %}
    <p>
        <label for="login">邮箱</label>
        <input name="user_email" type="text" placeholder="输入已注册邮箱">
    </p>
    <p>
        <label for="login">密码</label>
        <input name="user_password" type="text" placeholder="输入密码">
    </p>
    <input id="login" type="submit" value="login">
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <input id="register" type="submit" data-href-template="http://127.0.0.1/register" value="register">
{#    <a href="http://127.0.0.1:8000/register">register</a>#}
</form>
</div>
</body>
</html>